html {
  scroll-behavior: smooth;
}
/* Navbar */
.navbar {
  background-color: #a3c579;
}

/* Jumbotron */
.jumbotron {
  padding-bottom: 33rem;
  background-image: url(img/apartment.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}
.display-5 {
  padding-top: 5rem;
  padding-left: 4rem;
  font-size: 75px;
}
.lead {
  padding-left: 4rem;
  font-size: 50px;
}

/* Foto */

/* Fasilitas */
.fasilitas {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 81rem;
}
/* Ulasan */
.ulasan {
  background-color: #a3c579;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.ulasan_fulan {
  margin-top: 50px;
}

/* Footer */
.footer {
  background-color: #a3c579;
}
.copyright {
  padding-top: 45px;
}

/* Contact */
.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.whatsapp {
  margin-top: 7px;
  margin-left: -80px;
}
.alamat {
  margin-top: 35px;
}
section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
